body {
    font-family: 'Noto Sans Arabic', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
main {
    padding: 100px 40px 40px;
    text-align: right;
}
.wrapper {
    display: flex;
    flex-direction: column; /* ترتيب العناصر عموديًا */
    min-height: 100vh; /* اجعل الحد الأدنى لارتفاع الحاوية 100% من ارتفاع الصفحة */
    
}
.body{
    width: 40vw;
}
.form-control {
    direction: rtl;
    text-align: right;
}
.btn{
    color: #fff;
}
.modal-body i{
    font-size: 40px;
    color:green;
}
.modal-footer{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.modal-footer .btn {
    background-color: #056170;
    border: 2px solid #056170;
    font-weight: bold;
    color: #fff;
    box-shadow: none;
    border-radius: 18px;
}

.modal-footer .btn:hover {
    background-color: #ffda0a; 
    border-color: #ffda0a;
    color: #fff;
}  


@media print {
    header, footer, .btn {
        display: none; /* إخفاء الهيدر والفوتر وزر الطباعة */
    }
    .print-container {
        display: flex; /* استخدام flex لعرض المحتوى بجانب بعضه */
        flex-direction: row; /* ترتيب العناصر في صف */
        justify-content: space-between; /* توزيع العناصر بالتساوي */
        align-items: flex-start; /* محاذاة العناصر لأعلى */
        width: 100%; /* تأكد من أن المحتوى يملأ الصفحة */
    }
    .card {
        flex: 1; /* جعل الكارد يتوسع ليملأ المساحة المتاحة */
        /* margin: 0 5px; إضافة هامش بين الكروت */
        page-break-inside: avoid; /* تجنب انكسار الصفحة داخل الكارد */
        font-size: 0.9em;
    }
    .img-fluid {
        width: 50px; /* تعديل عرض الصورة */
        height: auto; /* الحفاظ على نسبة العرض إلى الارتفاع */
    }
}
