:root {
    --main-bg-color: #f0f0f0;
    --header-bg-color: #fff;
    --primary-color: #056170;
    --hover-color: #e9c605;
    --border-color: #00274d;
    --button-bg-color: #056170;
    --button-text-color: #fff;
    --footer-bg-color: #056170;
    --card-bg-color: #fff;
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto Sans Arabic', sans-serif; 
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column; /* ترتيب العناصر عموديًا */
    flex: 1;
}

section {
    display: flex;
    justify-content: center; /* توسيط المحتوى أفقياً */
    align-items: center; /* توسيط المحتوى عمودياً */
    margin: 30px 0; /* تقليل المسافة العلوية والسفلية */
    flex: 1; /* اجعل القسم يأخذ المساحة المتبقية */
}

.forms {
    display: flex;
    flex-direction: column; /* ترتيب الأزرار عمودياً */
    align-items: center; /* توسيط الأزرار */
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap; /* للسماح للعناصر بالالتفاف */
    justify-content: center; /* توسيط الأزرار */
}

.btn-small {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5rem 1rem; /* ضبط الحشو */
    font-size: 1.5rem; /* حجم الخط */
    cursor: pointer;
    border-radius: 30px;
    margin: 10px; /* المسافة بين الأزرار */
    width: calc(100% - 20px); /* عرض كامل مع الأخذ في الاعتبار الهوامش */    height: auto; /* ارتفاع تلقائي */
    min-height: 60px; /* حد أدنى للارتفاع */
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: var(--box-shadow-medium);
}

.btn-small:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(94, 79, 6, 0.753);
}

