:root {
    --main-bg-color: #f0f0f0;
    --header-bg-color: #fff;
    --primary-color: #056170;
    --hover-color: #e9c605;
    --border-color: #00274d;
    --button-bg-color: #056170;
    --button-text-color: #fff;
    --footer-bg-color: #056170;
    --card-bg-color: #fff;
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto Sans Arabic', sans-serif;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column; /* ترتيب العناصر عموديًا */
    min-height: 100vh; /* اجعل الحد الأدنى لارتفاع الحاوية 100% من ارتفاع الصفحة */
}

section {
    margin-top: 80px; /* بدلاً من my-5 */
    margin-bottom: 10px; /* بدلاً من my-5 */
    flex: 1;
}

.row {
    margin-top: 20px; /* تباعد إضافي بين الصفوف إذا لزم الأمر */
}

.section-title {
    font-size: 3vw; /* زيادة حجم الخط */
    color: var(--primary-color);
    text-align: center;
    padding: 15px; 
    margin-bottom: 40px; 
    font-weight: 600; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); /* تحسين الظل */
    letter-spacing: 1px; /* زيادة تباعد الحروف */
    transition: color 0.3s ease; /* إضافة تأثير انتقال */
}



/* Search  */
.search-inputs {
    background-color: #f8f9fa;
    padding: 20px; /* تقليل الحشوة قليلاً */
    border-radius: 10px;
    box-shadow: var(--box-shadow-medium);
    display: flex;
    flex-wrap: nowrap; /* استخدام nowrap لجعل العناصر في صف واحد */
    gap: 10px; /* مسافة بين العناصر */
    align-items: center; /* محاذاة العناصر عموديًا */
}
.custom-select {
    flex: 1; /* يسمح بالعناصر بالتوزيع بشكل متساوي */
    min-width: 150px; /* عرض أدنى لكل حقل */
}
.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(5, 97, 112, 0.5);
}
.search-text-center {
    display: flex; /* استخدام Flexbox */
    justify-content: center; /* توسيط الزر أفقياً */
    margin-top: 10px; /* إضافة مسافة بين المدخلات والزر */
}
.btn-search {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 12px 24px; /* زيادة الحشوة */
    font-size: 16px;
    border-radius: 8px; /* جعل الزوايا أكثر انسيابية */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* إضافة تأثير الظل */
    height: 100%;
    cursor: pointer; /* إضافة مؤشر اليد */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ظل خفيف */
}

.btn-search:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px); /* رفع الزر قليلاً عند التحويم */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* زيادة الظل عند التحويم */
}

.btn-search:focus {
    outline: none; /* إزالة الحدود الافتراضية */
}

.input-group-text {
    cursor: pointer;
}




/* Table */
.card-2 {
    margin-bottom: 50px;
}

.table-striped th,
.table-striped td {
    text-align: center;
}


.badge{
    width: 80px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
}
.badge.status-accepted {
    background-color: #d4edda; /* أخضر فاتح */
    color: #155724; /* نص أخضر داكن */
    padding: 10px 15px; /* مساحة داخلية */
    border-radius: 5px; /* زوايا مستديرة */
    transition: background-color 0.3s, box-shadow 0.3s; /* تأثير الانتقال */
}

.badge.status-accepted:hover {
    background-color: #6bff70; /* لون أخضر فاتح عند التحويم */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* ظل خفيف */
}

.badge.status-rejected {
    background-color: #f8d7da; /* أحمر فاتح */
    color: #721c24; /* نص أحمر داكن */
    padding: 10px 15px; /* مساحة داخلية */
    border-radius: 5px; /* زوايا مستديرة */
    transition: background-color 0.3s, box-shadow 0.3s; /* تأثير الانتقال */
}

.badge.status-rejected:hover {
    background-color: #ff7575; /* لون أحمر فاتح عند التحويم */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* ظل خفيف */
}

.table-striped {
    box-shadow: var(--box-shadow-medium); /* إضافة ظل للجدول */
}


/*  Pagination  */
.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.pagination .page-item {
    margin: 0;
}

.pagination .page-link {
    display: block;
    padding: 10px 15px;
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.pagination .active-page {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}

/* Print */
@media print {
    header, footer, .btn {
        display: none;
    }

    .print-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .card {
        flex: 1;
        page-break-inside: avoid;
        font-size: 0.9em;
    }

    .img-fluid {
        width: 50px;
        height: auto;
    }

    .pagination {
        display: none;
    }
}

/* modal rejected */

.modal-content {
    background-color: var(--header-bg-color); /* خلفية المودال */
    border-radius: 15px; /* جعل الزوايا دائرية */
    border: none; /* إزالة الحدود */
    box-shadow: var(--box-shadow-medium); /* ظل متوسط */
}

.modal-header {
    border: none; /* إزالة الحدود من الرأس */
    position: relative; /* يسمح بتحسين تصميم الزر */
}

.btn-close {
    background-color: transparent; /* جعل الخلفية شفافة */
    border: none; /* إزالة الحدود */
    color: var(--primary-color); /* لون "X" */
}

.btn-close:hover {
    color: var(--hover-color); /* تغيير اللون عند التحويم */
}

.modal-body {
    padding: 2rem; /* زيادة المساحة الداخلية */
}

.modal-body h4 {
    font-weight: bold; /* جعل الخط ثقيل */
    font-size: 1.5rem; /* زيادة حجم الخط */
    color: var(--primary-color); /* لون النص */
    margin-bottom: 3rem;
}

.btn-info {
    color: var(--button-text-color); /* لون النص للزر */
    background-color: var(--button-bg-color); /* لون الزر */
    border: none; /* إزالة الحدود */
    padding: 12px 24px; /* زيادة الحشوة */
    border-radius: 8px; /* جعل الزوايا دائرية */
    transition: background-color 0.3s ease, transform 0.2s; /* تأثير الانتقال */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ظل خفيف */
}

.btn-info:hover {
    background-color: var(--hover-color); /* لون الزر عند التمرير */
    transform: translateY(-2px); /* رفع الزر قليلاً عند التحويم */
}

/* modal accepted */
.modal-content {
    border-radius: 15px; /* زوايا مدورة للمودال */
}

.modal-header {
    background-color: #f8f9fa; /* لون خلفية حديث */
    border-bottom: none; /* إزالة الحدود */
}

.img-fluid {
    max-height: 500px; /* الحد الأقصى لارتفاع الصورة */
    object-fit: cover; /* ملاءمة الصورة */
}

.btn-primary {
    background-color: var(--primary-color); /* لون الخلفية باستخدام المتغير */
    border: none; /* إزالة الحدود */
    transition: background-color 0.3s ease; /* تأثير عند التمرير */
}

.btn-primary:hover {
    background-color: var(--hover-color); /* لون الخلفية عند التمرير باستخدام المتغير */
}
