:root {
    --main-bg-color: #f0f0f0;
    --header-bg-color: #fff;
    --primary-color: #056170;
    --hover-color: #e9c605;
    --border-color: #00274d;
    --button-bg-color: #056170;
    --button-text-color: #fff;
    --footer-bg-color: #056170;
    --card-bg-color: #fff;
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto Sans Arabic', sans-serif; 
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column; /* ترتيب العناصر عموديًا */
    min-height: 100vh; /* اجعل الحد الأدنى لارتفاع الحاوية 100% من ارتفاع الصفحة */
}

section {
    margin-top: 80px; /* بدلاً من my-5 */
    margin-bottom: 10px; /* بدلاً من my-5 */
    flex: 1;
}


.section-title {
    font-size: 3.5vw; /* زيادة حجم الخط */
    color: var(--primary-color);
    text-align: center;
    padding: 15px; 
    margin-bottom: 40px; 
    font-weight: 600; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); /* تحسين الظل */
    letter-spacing: 1px; /* زيادة تباعد الحروف */
    transition: color 0.3s ease; /* إضافة تأثير انتقال */
}


/* Search  */
.search-inputs {
    background-color: #f8f9fa;
    padding: 20px; /* تقليل الحشوة قليلاً */
    border-radius: 10px;
    box-shadow: var(--box-shadow-medium);
    display: flex;
    flex-wrap: nowrap; /* استخدام nowrap لجعل العناصر في صف واحد */
    gap: 10px; /* مسافة بين العناصر */
    align-items: center; /* محاذاة العناصر عموديًا */
}
.custom-select {
    flex: 1; /* يسمح بالعناصر بالتوزيع بشكل متساوي */
    min-width: 200px; /* عرض أدنى لكل حقل */
}
.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(5, 97, 112, 0.5);
}
.search-text-center {
    display: flex; /* استخدام Flexbox */
    justify-content: center; /* توسيط الزر أفقياً */
    margin-top: 10px; /* إضافة مسافة بين المدخلات والزر */
}
.btn-search {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 12px 24px; /* زيادة الحشوة */
    font-size: 16px;
    border-radius: 8px; /* جعل الزوايا أكثر انسيابية */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* إضافة تأثير الظل */
    height: 100%;
    cursor: pointer; /* إضافة مؤشر اليد */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ظل خفيف */
}

.btn-search:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px); /* رفع الزر قليلاً عند التحويم */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* زيادة الظل عند التحويم */
}

.btn-search:focus {
    outline: none; /* إزالة الحدود الافتراضية */
}

.input-group-text {
    cursor: pointer;
}


/* Table */
.card-2 {
    margin-bottom: 50px;
}

.table-striped th,
.table-striped td {
    text-align: center;
}

.table-striped {
    box-shadow: var(--box-shadow-medium); /* إضافة ظل للجدول */
}

.table i {
    font-size: 1.5vw; /* حجم الأيقونات */
    cursor: pointer; /* شكل المؤشر */
    transition: color 0.3s, transform 0.3s; /* تأثير اللون والتحويل */
}

.table .fa-eye, 
.table .fa-retweet {
    color: var(--primary-color); /* اللون الافتراضي */
}

/* تأثير تمرير */
.table i:hover {
    transform: scale(1.1); /* تكبير الأيقونة عند المرور */
}

.table .fa-eye:hover,
.table .fa-retweet:hover {
    color: var(--hover-color); /* اللون عند المرور */
}



/* النمط الخاص بالنافذة المنبثقة */
.popup-modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* خلفية شفافة أكثر تركيزًا */
}

.popup-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px; /* زيادة العرض للنافذة */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.popup-modal-content h4 {
    color: var(--hover-color);

}

.close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 35px;
    color: var(--footer-bg-color);
    cursor: pointer;
    transition: color 0.3s;
}

.form-check-label {
    font-size: 16px;
    color: #333;
}

.btn-primary {
    background-color: var(--hover-color); /* لون الزر الأساسي */
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: darken(var(--hover-color), 10%);
}

.modal-footer button {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

.modal{
    color: #056170;
}
.modal-header .close {
    background: none; /* إزالة الخلفية */
    border: none; /* إزالة الحدود */
    font-size: 1.5rem; /* حجم الأيقونة */
    color: #056170; /* لون الأيقونة */
}

/* تكبير منطقة الضغط على زر الإغلاق */
.modal-header .close span {
    font-size: 2rem;
}
.modal-body i{
    font-size: 40px;
    color:green;
}
.modal-footer{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.modal-footer .btn {
    background-color: #056170;
    border: 2px solid #056170;
    font-weight: bold;
    color: #fff;
    box-shadow: none;
    border-radius: 18px;
}

.modal-footer .btn:hover {
    background-color: #ffda0a; 
    border-color: #ffda0a;
    color: #fff;
}  


.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}



/* Pagination */
.pagination {
    list-style: none; /* إزالة النقاط من القائمة */
    padding: 0; /* إزالة التباعد */
    display: flex; /* استخدام Flexbox لتوزيع العناصر */
    gap: 5px; /* المسافة بين العناصر */
    top: 100%;
} 

/* تنسيق عناصر الصفحة */
.pagination .page-item {
    margin: 0; /* إزالة التباعد */
}

/* تنسيق الروابط */
.pagination .page-link {
    display: block; /* جعل الرابط كتلة */
    padding: 10px 15px; /* تباعد داخلي */
    color: #056170; /* لون النص */
    text-decoration: none; /* إزالة التسطير */
    border: 1px solid #056170; /* لون الحدود */
    border-radius: 5px; /* زوايا مدورة */
    transition: background-color 0.3s, color 0.3s; /* تأثير انتقال */
}

/* تأثير عند مرور الفأرة على الرابط */
.pagination .page-link:hover {
    background-color: #056170; /* تغيير لون الخلفية عند المرور */
    color: white; /* تغيير لون النص عند المرور */
}

/* تصميم الصفحة النشطة */
.pagination .page-item.active .page-link {
    background-color: #056170; /* لون خلفية للصفحة النشطة */
    color: white; /* لون النص للصفحة النشطة */
    border-color: #056170; /* لون الحدود للصفحة النشطة */
}

/* تأثير عند مرور الفأرة على رابط الصفحة النشطة */
.pagination .page-item.active .page-link:hover {
    background-color: #054f5b; /* لون مختلف عند المرور */
    color: white; /* تغيير لون النص عند المرور */
}

/* إخفاء زر السابق أو التالي */
.page-item.disabled .page-link {
    color: #6c757d; /* لون رمادي */
    pointer-events: none; /* تعطيل التفاعل */
}

/* تنسيق منطقة تنسيق الصفحات */
.pagination-wrapper {
    display: flex;
    justify-content: center;
}
