body {
    font-family: 'Noto Sans Arabic', sans-serif;
    background-color: #f8f9fa;
}
.container-fluid{
    padding-top: 50px;
}
.sidebar {
    background-color: #056170;
    padding-top: 40px;
    height: 230vh; /* يجعل السايد بار بطول الصفحة */
}
.sidebar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.sidebar a:hover {
    background-color: #fff;
    color: #056170;
    border: #056170;
    border-radius: 5px;
}
.card {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 60vw;

}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px); /* حساب الارتفاع مع الأخذ في الاعتبار رأس الصفحة */
}
.form {
    width: 100%;
    max-width: 600px; /* تحديد عرض النموذج */
}

h2{
    color: #056170;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); /* تحسين الظل */
    transition: color 0.3s ease; /* إضافة تأثير انتقال */
    font-weight: 600; 
}
.modal-body i{
    font-size: 40px;
    color:green;
}
.modal-footer{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.modal-footer .btn {
    background-color: #056170;
    border: 2px solid #056170;
    font-weight: bold;
    color: #fff;
    box-shadow: none;
    border-radius: 18px;
}

.modal-footer .btn:hover {
    background-color: #ffda0a; 
    border-color: #ffda0a;
    color: #fff;
} 
h4{
    color: #056170;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); /* تحسين الظل */
}

.position-relative {
    display: inline-block;
}

.upload-btn {
    position: absolute;
    bottom: 10px; /* تعديل حسب الحاجة */
    right: 10px;  /* تعديل حسب الحاجة */
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    transition: background-color 0.3s;
    background-color: #056170;
}

.upload-btn:hover {
    background-color: #ffda0a; /* لون الخلفية عند المرور */
}

#currentImage {
    border-radius: 50%; /* يجعل الصورة دائرية */
    width: 160px; /* تأكيد العرض */
    height: 160px; /* تأكيد الارتفاع */
    object-fit: cover; /* يضمن ملء الصورة داخل الدائرة دون تغيير نسبها */
}

.btn{
    background-color: #056170;
    transition: ease 0.5s;
}
.btn:hover{
    background-color: #e9c605;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #056170;
    color: #ffffff;
}